@import "reset";
@import "variables";
@import "fonts";
@import "helpers";
@import "typography";

@import "components/button";
@import "components/form";
@import "components/social";
@import "components/tooltip";

body {
  -webkit-font-smoothing: antialiased;
  background-color: #e5e5e5;
  font-family: $font-family-body;
  font-size: 16px;
  line-height: 24px;
}

object {
  pointer-events: none;
}
