h3 {
  font-family: $font-family-heading;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: 12px;
}

p {
  font-family: $font-family-body;
  margin-bottom: 16px;
}
